@import '../../assets/css/style.scss';
.checkout {
    padding-top: 16px;
    .container {
        display: grid;
        grid-template-columns: 11fr 9fr;
        grid-gap: 32px;
        .form {
            &_group {
                padding-bottom: 64px;
            }
        }
    }
}
.inputStyle {
    background-color: #f5f5f5a1;
    border: 1px solid  $blurColor;
    border-radius: 12px;
}
.textStyle {
    font-weight: 600;
    font-size: 12px;
    color: $textColor;
}


.form_title {  
    margin-bottom: 32px;
    h2 {
        font-size: 22px;
        color: $textColor;
    }
    p {
        @include flex(space-between , unset);
        color: #A9A9A9();
        font-size: 12px;
    }
}
.form_inputs {  //billingInfo
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px 32px;
    .item {
        width: 100%;
    }
}
.form_method {  //billingMethod
    .item {
        margin-bottom: 16px;
    }
}
.form_payment { //paymentMethod
    .item {
        margin-bottom: 16px;
        user-select: none;
    }
}
.form_confir {
    & > div {
        margin-bottom: 16px;
    }
}
.form_submit {
    button {
        margin: 32px 0;
    }
    &-info {
        max-width: 213px;
        span {
            display: block;
            &.content {
                color: $blurColor;
                font-weight: 400;
                margin-top: 10px;
            }
        }
    }
}
.other {
    padding: 32px 16px;
    border: 1px solid  $blurColor;
    border-radius: 12px;
    height: max-content;
}