@import "../../assets/scss/style.scss";
// @import ''
.button {
	--background-color: transparent;
	--border-color: transparent;
	--text-color: #{$text-color};
	--stroke-width: 2px;
	--padding: 0px;
	--font-weight: 700;
	--height: 36px;

	background-color: var(--background-color);
	border: 2px solid var(--border-color);
	color: var(--text-color);
	padding: 0 var(--padding);
	font-weight: var(--font-weight);
	height: var(--height);

	font-size: 15px;
	line-height: 1em;

	display: flex;
	align-items: center;
	/* Color */
	&-colored {
		--background-color: #{$primary-color};
		--border-color: #{$primary-color-dark};
		--text-color: #{$white-color};
	}
	&-bright {
		--background-color: #{$bright-color};
	}
	&-simple {
		--background-color: #{$white-color};
	}
	&-stroke {
		--border-color: #{$primary-color-light};
	}

	/* Size */
	&-small {
		--padding: 12px;
	}
	&-medium {
		--padding: 16px;
	}
	&-large {
		--padding: 48px;
	}

	/* Type */
	&-default {
	}
	&-icon-left {
		svg {
			margin-right: 6px;
		}
	}
	&-icon-right {
		svg {
			margin-left: 6px;
		}
	}

	&.round {
		border-radius: 12px;
	}
}
