@import '../../assets/css/style';

.Button{
    --height: 30px;
    --color: #{$main-color};
    --radius: 5px;

    height: var(--height);
    background: var(--color);
    border-radius: var(--radius);
    padding: 0 20px;
    line-height: var(--height);
    border: none;
    cursor: pointer;

    @include css3(transition, all 0.3s ease);
    &.size{
        &-small{
        }
        &-midle{
            --height: 40px;
        }
        &-large{
            --height: 50px;
        }
    }

    &.type{
        &-default{

        }
        &-icon-left{

        }
        &-icon-right{}
    }

    &.color{
        &-default{}
        &-bright{}
        &-store{}
    }

    &.round{
        border-radius: 100px;
    }
}