@import '../../../../assets/css/variable';

.filter{
    &__control{
        display: flex;
        align-items: center;
        gap: 0 10px;
        input{
            width: 80%;
        }
    }
    &__btn{
        display: flex;
        align-items: center;
        gap: 0 20px;
    }
    & .css-187mznn-MuiSlider-root{
        color: $greenColor;
    }
}