@import '../../assets/css/variable';



.button{
    display: inline-block;
    border-radius: $radius;
    font-weight: 700;

    &.size{
        &-small{
            height: $btnS-Height;
            line-height: $btnS-Height;
            padding: 0 8px;
           
        }
        &-medium{
            height: $btnM-Height;
            line-height: $btnM-Height;
            padding: 0 16px;
        }
        &-large{
            height: $btnL-Height;
            line-height: $btnL-Height;
            padding: 0 46px;

        }
    }
    &.type{
        &-icon-left{
            span{
                margin-right: 12px;
            }
        }
        &-icon-right{
            span{
                margin-left: 11px;
            }
        }
    }
    &.bgcolor{
        &-default{
            background-color: transparent;
            border: 2px solid $borderDefault;
            
        }
        &-bright{
            background-color: $greenColor;
            border: 2px solid $borderBright;

        }
        &-store{
            background-color: $grayBlur;

        }
    }
    &.color{
        &-default{
            color: $primaryColor;
        }
        &-white{
            color: $lightColor;
        }
    }
}