.breadcrumb {
   ul {
    width: 100%;
    display: flex;
    align-items: center;
    list-style: none;
    height: 50px;
    background-color:gainsboro;
    li {
        color: deeppink;
        a {
            text-decoration: none;
            color: deeppink
        }
    }
   }
}