@import '../../../assets/css/variable';



.sell{
    padding: 64px 0;
  
    &__details{
        display: grid;
        grid-template-columns: 1fr 3fr;
    }
    &__list{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 0 32px
    }
}