@import '../../../assets/css/variable';

.form{
    
    &:not(:first-child) {
        margin-top: $spaceBlock;
    }
    &__method{
        & .method:not(:first-child){
            margin-top: 16px;
        }
    }
    .error-text{
        height: 10px;
        color: red;
        font-size: 12px;
    }
}