

// Variable 
$primaryFont : 'Poppins';
$secondFont : 'Open Sans';

// Color
$primaryColor: #151515;
$lightColor: #fff; 
$blurColor: #A9A9A9;
$greenColor: #6A983C;
$orangeColor: #E5704B;
$productColor: #D1D1D1;
$descColor: #575757;
$grayBlur: #F5F5F5;
$borderDefault: #92C064;
$borderBright: #46760A;

$headerHeight: 130px;
$bannerWidth: 420px;
$bannerHeight: 280px;
$container-width: 1200px;

// BTN
$btnS-Height: 32px;
$btnM-Height: 44px; 
$btnL-Height: 54px; 
$radius: 10px;
$border-Width: 2px;

// Tag

$tagS-Height: 18px;
$tagL-Height: 26px;



