@import '../../../assets/css/style.scss';
.detailBox{
    &_title{
        .review{
            display: flex;
            align-items: center;
            .icons {
                margin-right: 10px;
            }
            span {
                color: #A9A9A9;
                font-size:12px;
                text-decoration: underline;
            }
        }
    }
    &_info{
        margin-bottom: 40px;
        p{
            margin:40px 0;
        }
    }
    &_controls{
        .addToCard{
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 16px;
            border: 1px solid $blurColor;
            border-radius: 12px;
            margin-bottom: 32px;
            &_cost{
                p{
                    color: $greenColor;
                    font-weight: 600;
                    font-size: 26px;
                }
                span {
                    color: #A9A9A9;
                    font-size: 12px;
                    text-decoration: line-through;
                }
            }
            button{
                span{
                    display: flex;
                    span {
                        margin-left: 5px;
                    }
                }
            }
        }
        .addToCustom{
            display: flex;
            li {
                padding: 13px;
                cursor: pointer;
                display: flex;
                span {
                    margin-left: 5px;
                    font-weight: 600;
                }
            }
        }
    }
}