.Inputs {
    width: 300px;
    height: 40px;
    background-color: #f5f5f5a1;
    border: 1px solid rgb(165, 164, 164);
    margin: 30px auto;
    border-radius: 12px;
    position: relative;
    label {
        position: absolute;
        bottom: 100%;
        font-weight: 700;
        font-size: 15px;
    }
    &_placehoder {
        position: absolute;
        top: 0;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        pointer-events: none;
        span  {
            margin: 0 5px;
            color: rgb(165, 164, 164);
        }
        img {
            width: 20px;
            margin: 0 5px;
        }
        &.icon {
            &-right{width:100%;}
        }
    }
    input {
        width: 100%;
        height: 100%;
        border: none;
        outline: none;
        padding-left: 5px;
        background-color: transparent;
        &:focus ~ div , &:not(:placeholder-shown) ~ div{
            display: none;
        }
    }
}