
.form{
   
    &__inputs{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 22px 0;
        & label {
            width: max-content;
        }
        & label:not(:last-child){
          // width: 320px;  
          width: 48%;
        }
    }
    
}