@import '../../assets/css/style.scss';

.banner{
    position: relative;
    background: url('../../assets/img/banner.jpg');
    padding: 48px 151px 32px 33px;
    max-width: 419px;
    height: 280px;
    border-radius: 12px;
    &__info{
        margin-bottom: 94px;
        h3{
            @include s3;
        }
        h6{
            @include s6;
            color: $c2-a;
        }
    }
}