@import 'assets/css/import';


.checkout-page{
    .container{
        max-width: 1400px;
        margin: 0 auto;
        padding: 0 15px;
    }
    .form-wrap{
        max-width: 700px;
        margin: 0 auto;
    }
    form{
        label{
            display: block;
            margin-bottom: 15px;
            .label{
                font-weight: bold;
                margin-bottom: 10px;
            }
            input{
                height: 40px;
                border-radius: 6px;
                border: 1px solid #ccc;
                background: white;
                padding: 0 15px;
                width: 100%;
            }
            .error-text{
                color: red;
                font-size: 13px;
            }
        }
    }
}

