@import '../../assets/css/style.scss';

.inputs {
    --padding: 16px;
    --widthIcon: 20px;
    &_input { 
        position: relative;
        @include flex(unset , center);
        padding-left: var(--padding);
        input {
            &[type=text],&[type=password] {
                @include displayBlock(100% , 100%);
                &:focus ~ .inputs_input-placehoder, 
                &:not(:placeholder-shown) ~ .inputs_input-placehoder{
                    display: none;
                }
            }
            &[type=checkbox] {
                appearance: none;
                padding: 10px;
                border: 1px solid $blurColor;
                margin-right: 10px;
                &:checked {
                    background-color: green;
                }
            }
            
        }
        textarea {
            @include displayBlock(100% , 100%);
            font-size: 12px;
            padding-top: 10px;
            resize: none;
        }
        &-icon {
            width: var(--widthIcon);
            img {
                @include flex(center , center);
                width: 20px;
                margin-right:10px;
            }
        }

        &.icon {
            &-left {
                flex-direction: row-reverse;
            }
        }
        &.type {
            &-checkbox {
                width: max-content;
                padding: 0 var(--padding);
            }
            &-select {
                select {
                    @include displayBlock(100%,100%,transparent,12px);
                    margin-left: calc(var(--padding) * -1);
                    padding-left: var(--padding);
                    &[value=''] {color: $blurColor;}
                }
            }
        }
        &.size {
            &-middle {
                height: 42px;
            }
            &-large {
                height: 112px;
            }
        }
    }
}