@import '../../assets/css/style.scss';
.productCard {
    display: flex;
    border-bottom: 2px solid $grayColor;
    span {
        color: #A9A9A9;
        font-size: 12px;
        font-weight: 400;
    }
    &_controls {
        width: 30%;
        .img {
            width: 100px;
            height: 67px;
            overflow: hidden;
            border-radius: 12px;
            img {
                object-fit: cover;
                width: 100%;
                height: 100%;
            }
        }
        &-list {
            li {
                display: flex;
                align-items: center;
                padding: 8px 0;
                cursor: pointer;
                span {
                    display: inline-block;
                    margin-left: 8px;
                }
            }
        }
    }
    &_info {
        p {
            span:first-child {
                display: inline-block;
                width: 80px;
            }
            span:last-child {
                color: $textColor;
                font-weight: 600;
            }
        }
        &-rate {
            margin-top: 10px;
            margin-bottom: 5px;
        }
        &-cost {
            span {
                display: block;
                font-weight: 600;
                color: #6A983C;
                font-size: 18px;
                line-height: 27px;
                &:last-child {
                    color: #A9A9A9;
                    font-size: 12px;
                    text-decoration: line-through;
                }
            }
        }
    }
}