@import '../../../assets/css/style.scss';




.boxImgs {
    &_item {
        position: relative;
        margin-bottom: 32px;
        .img {
            position: relative;
            overflow: hidden;
            height: 440px;
            border-radius: 12px;
            cursor: pointer;
            &::after {
                content: '';
                // @includedisplayBlock(100%,100%,rgba(0,0,0,0.4)):;
                position: absolute;
                pointer-events: none;
                z-index: 3;
                opacity: 0;
                // transition: $t            ;
                // -webkit-transition: $t            ;
                // -moz-transition: $t            ;
                // -ms-transition: $t            ;
                // -o-transition: $t            ;
}
            img {
                // @include position(50%,50%,-50%,-50%)
            }
        }
        .tags {
            position: absolute;
            top: 15px;
            left: 15px;
            opacity: 0;
            // transition: $t;
            z-index: 4;
            div {
                display: inline-block;
                margin-right: 5px;
            }
        }
        &:hover {
            .img::after {
                opacity: 1;
            }
            .tags{
                opacity: 1;
            }
        }
    }
}
