@import '../../../assets/css/style.scss';

.categories{
    padding: 64px 0;
    &__details{
        display: flex;
        gap: 0 32px;
    }
    & .banners{
        display: flex;
        flex: 1;
        gap: 0 32px;
        & .banner{
            width: 50%;
            height: $bannerHeight;
            background-color: #C8DEB3;            ;
            border-radius: 10px;
        }
        & .banner__desc{
            padding: 48px 33px;
            & .banner__sub{
                color: $greenColor;
                margin-bottom: 14px;
            }
            & .banner__heading{
                color: $primaryColor;
                font-size: 22px;
                font-weight: 600;

                margin-bottom: 95px;
            }
        }
    }
}