@font-face {
    font-family: 'Pb';
    src: url('font/Poppins-Bold.woff2') format('woff2'),
        url('font/Poppins-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: 'Peb';
    src: url('font/Poppins-ExtraBold.woff2') format('woff2'),
        url('font/Poppins-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: 'Pr';
    src: url('font/Poppins-Regular.woff2') format('woff2'),
        url('font/Poppins-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: 'Psb';
    src: url('font/Poppins-SemiBold.woff2') format('woff2'),
        url('font/Poppins-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: 'Oeb';
    src: url('font/OpenSans-Extrabold.woff2') format('woff2'),
        url('font/OpenSans-Extrabold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: 'Ob';
    src: url('font/OpenSans-Bold.woff2') format('woff2'),
        url('font/OpenSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: 'Or';
    src: url('font/OpenSans.woff2') format('woff2'),
        url('font/OpenSans.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: 'Osb';
    src: url('font/OpenSans-Semibold.woff2') format('woff2'),
        url('font/OpenSans-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: fallback;
}

