$primary-color: #6a983c;
$primary-color-dark: #46760a;
$primary-color-light: #92c064;

$bright-color: #f5f5f5;

$secondary-color: #151515;
$secondary-color-light: #575757;
$secondary-color-lighter: #a9a9a9;

/* ? TEXT */
$text-color: $secondary-color;

$white-color: #ffffff;
