@import '../../assets/css/variable';


.quote{
    text-align: center;
    border-radius: $radius;
    border: 1px solid $blurColor;
    padding-bottom: 40px;
    position: relative;
    &__content{
        padding: 24px 32px;
    }
    &__author{
        color: $blurColor;
        font-weight: 600;
        font-size: 12px;
    }
    &__avatar{
        width: 48px;
        height: 48px;
        position: absolute;
        bottom: -10%;
        left: 50%;
        transform: translateX(-50%);
        img{
            width: 100%;
            height: 100%;
            border-radius: 50%;
            object-fit: cover;
        }
    }
}

