@import '../../assets/css/variable';



.menu{
    background-color: $grayBlur;
    &__categories{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 55px;
    }
    &__title{
        display: flex;
        align-items: center;
        gap: 0 6px;
        cursor: pointer;
    }
    svg{
        width: 16px;
        
    }

    
}
