@import '../../assets/css/import';


.Accordion{
    .title{
        background: gray;
        padding: 10px;
    }
    .content{
        display: none;
    }
    &.open{
        .content{
            display: block !important;
        }
    }

    &.hide{
        .content{
            display: none;
        }
    }
}


