.Accordion {
    width: 100%;
    border-radius: 12px;
    padding: 0 10px;
    overflow: hidden;
    &_tab {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 0;
        user-select: none;
        .svg {
            width: 20px;
            margin-right: 10px;
        }
        .content {
            margin-right: auto;
            p {
                font-size: 17px;
                text-transform: capitalize;
                font-weight: 500;
                margin: 0;
                color: #222;
            }
        }
        .arrow {
            width: 10px;
        }
    }
    &_content {
        text-align: justify;
    }
    &:hover {
        background-color: gainsboro;
    }
    &.hide {
        .Accordion_content {
            height: 0;
        }
    }
    &.open {
        .Accordion_content {
            height: auto;
        }
    }

}